.photo-frame {
  position: relative;
  width: 1200px;
  height: 1800px;
  background-image: url("/public/mabear_frame.png"); /* 프레임 이미지 배경으로 설정 */
  background-size: cover;
}

.photo-frame img {
  position: absolute;
  object-fit: cover;
}

.photo1 {
  width: 512px;
  height: 612px;
  top: 406px;
  left: 63px;
}

.photo2 {
  width: 512px;
  height: 612px;
  top: 137px;
  left: 626px;
}

.photo3 {
  width: 512px;
  height: 612px;
  top: 1050px;
  left: 63px;
}

.photo4 {
  width: 512px;
  height: 612px;
  top: 781px;
  left: 626px;
}
