@font-face {
  font-family: "CookieRunBlack";
  font-weight: normal;
  src: url("./fonts/CookieRunBlack.ttf") format("CookieRunBlack");
}

body {
  margin: 0;
  font-family: "CookieRunBlack";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
