/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 화면 전체 높이 */
  text-align: center;
}

.webcam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo-frame {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 600px; /* 최대 너비 설정 */
  margin: 20px auto; /* 자동 마진으로 중앙 배치 */
}

.photo-frame img {
  width: 100%;
  height: auto;
}

button {
  margin-top: 10px;
}

/* App.css */
p {
  font-size: 1.2rem;
  color: #333;
  margin-top: 10px;
}
