/* DownloadButton.css */
.download-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.download-button,
.qr-button {
  background-color: #3f3f3f;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 5px;
}

.download-button:hover,
.qr-button:hover {
  background-color: #5a5a5a;
}
